<div class="detail-container">
  <div class="detail-nav">
    <button mat-button class="back-btn" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Назад на афере
    </button>
    @if (auth.isLoggedIn() && affair()) {
      <button mat-icon-button (click)="editAffair()" matTooltip="Уреди аферу">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteAffair()" matTooltip="Обриши аферу">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>

  @if (loading()) {
    <div class="skeleton-detail">
      <div class="skeleton skeleton-img"></div>
      <div class="skeleton-body">
        <div class="skeleton skeleton-line" style="width:22%"></div>
        <div class="skeleton skeleton-line skeleton-title" style="width:78%"></div>
        <div class="skeleton skeleton-line"></div>
        <div class="skeleton skeleton-line" style="width:91%"></div>
        <div class="skeleton skeleton-line" style="width:65%"></div>
        <div class="skeleton skeleton-line" style="width:80%"></div>
      </div>
    </div>
  } @else if (!affair()) {
    <p class="state-msg">Афера није пронађена.</p>
  } @else {
    <article class="detail-article">
      @if (affair()!.imageUrl) {
        <img class="detail-image"
             [src]="affair()!.imageUrl!"
             [alt]="affair()!.title"
             [style.view-transition-name]="'affair-' + affair()!.id">
      }

      <div class="detail-body">
        <div class="detail-meta">
          <span class="date">{{ affair()!.publishedAt | date:'dd.MM.yyyy' }}</span>
        </div>

        <h1 class="detail-title">{{ affair()!.title }}</h1>

        @if (affair()!.content) {
          <div class="detail-content" [innerHTML]="affair()!.content"></div>
        }
      </div>
    </article>
  }
</div>
